<div class="container">
  <h1>Add a new booking</h1>

  <%= simple_form_for [ @user, @wagon, @booking ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :start_location %>
    <%= f.input :end_location %>
    <%= f.submit "Add booking", class: "btn btn-primary" %>
  <% end %>
</div>
