<div class="container">
  <h1 class='border-bottom'><%= "Welcome #{@user.first_name}" %></h1>

  <h2>Your bookings (<%= @user.bookings.count %>)</h2>
  <div class="booking-cards">
    <% @user.bookings.each do |booking|%>
      <div class="booking-card bg-black">
        <h4>Booking n° <%= booking.id %></h4>
        <li><%= "📅 Date : #{booking.start_date}" %></li>
        <li><%= "🚃 From : #{booking.start_location}" %></li>
        <li><%= link_to "Cancel my booking", user_booking_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, class:'btn btn-success m-0 ms-3' %></li>
      </div>
    <% end %>
  </div>


  <div class="wagons-header d-flex align-items-center mb-3">
    <h2 class='m-0'>Your wagons (<%= @wagons.count %>)</h2>
      <% if policy(Wagon).create? %>
        <%= link_to "New wagon", new_user_wagon_path(@user), class:'btn btn-success m-0 ms-3' %>
      <% end %>
  </div>
  <div class="booking-cards">
    <% @wagons.each do |wagon| %>
      <div class="card-user-show d-flex border bg-light">
        <img src="https://images.unsplash.com/photo-1603092700399-2da0c724075c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
        <div class="booking-card">
          <h4 class="m-0"> <%= wagon.name %></h4>
          <p class="m-0"> <%= wagon.description %></p>
          <% if policy(wagon).edit? %>
            <%= link_to "Update", edit_user_wagon_path(wagon), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
