<%# Landing page %>
<div class="banner-landing">
  <%# <%= video_tag "pexel-video-test", autoplay: :autoplay, loop: :loop, muted: :muted, class: "banner-video" %>
  <h1 class="banner-h1">Welcome to the Wagon Party</h1>
  <form action="#" class="banner-form">
    <input type="text" placeholder="Start Location">
    <input type="date" placeholder="Check in">
    <%=link_to "Let's Go!", wagons_path, class:"btn-submit"%>
  </form>
</div>


<div class="container">
  <h2 style='font-weight: bold'>Our top recommendations 🕺</h2>
  <div class="card-container">
    <% @wagons = Wagon.all.sample(3) %>
    <% @wagons.each do |wagon|%>
      <div class="card" style="width: 20rem;">
        <img src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="Wagon Picture">
        <div class="card-body">
          <h5 class="card-title"> <strong><%= wagon.name %></strong></h5>
          <p class="card-text"><%= wagon.description %></p>
          <p> <%= link_to "Get the rave going", wagon_path(wagon), class: "btn btn-info" %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
