<%# Home page %>

<div class="banner-landing">
  <%= video_tag "pexel-video-test", autoplay: :autoplay, loop: :loop, muted: :muted, class: "banner-video" %>
  <h1 class="banner-h1">Welcome to the Wagon Party</h1>
  <%# add the search engine to filter results according to input %>
  <%= form_tag wagons_path, :class=>"banner-form", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      placeholder: "Find a party"%>
     <%=link_to "Let's Go!", wagons_path, class: "btn-submit"%>
  <% end %>
</div>

<div class="container">
  <h2 class="home-h2 mb-3">Our wagons, your rules 🚃</h2>
</div>
<div class="home-features">
  <div class="feature-card feature-card-1">
    <div class="feature-image">
      <%= image_tag("feature-1")%>
    </div>
    <div class="feature-description">
      <div class="feature-description-title">
        <h3>Don't waste your time</h3>
      </div>
      <div class="feature-description-text">
        <p>Enjoy the travel time before the real party</p>
      </div>
    </div>
  </div>

  <div class="feature-card feature-card-2">
    <div class="feature-description">
      <div class="feature-description-title">
        <h3>No limit in our Wagons</h3>
      </div>
      <div class="feature-description-text">
        <p>Have fun ! but don't jump off the train (please)</p>
      </div>
    </div>
    <div class="feature-image">
      <%= image_tag("feature-2")%>
    </div>
  </div>

  <div class="feature-card feature-card-3">
    <div class="feature-image">
      <%= image_tag("feature-3")%>
    </div>
    <div class="feature-description">
      <div class="feature-description-title">
        <h3>Relax with your friends</h3>
      </div>
      <div class="feature-description-text">
        <p>You won't even see the time pass</p>
      </div>
    </div>
  </div>

<div class="container">
  <h2 class="home-h2 mb-3">Our top recommendations 🕺</h2>
  <div class="home-card-container">
    <% @wagons = Wagon.all.sample(3) %>
    <% @wagons.each do |wagon|%>
      <div class="home-card" style="width: 20rem;">
          <div class="rounded">
            <% if wagon.photo.key %>
                <%= cl_image_tag wagon.photo.key, crop: :fill, style:'height: 150px; width: 20rem; object-fit:cover; border-radius: 4px' %>
              <% else %>
                <img src="https://images.unsplash.com/photo-1599766431396-2405fdfcf5e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80", style='height: 150px; width: 150px; object-fit:cover; border-radius: 4px'/>
              <% end %>
          </div>
          <div class="card-body">
          <h5 class="home-card-title"> <strong><%= wagon.name %></strong></h5>
          <p class="home-card-text"><%= wagon.description %></p>
          <p> <%= link_to "Get the rave going", wagon_path(wagon), class: "btn btn-info" %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
