<div class="container">
  <h1>Add a new wagon</h1>

  <%= simple_form_for [ @user, @wagon ] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :capacity %>
    <%= f.input :photo, as: :file %>
    <%= f.input :location %>
    <%= f.input :dates %>
    <%= f.submit "Add wagon", class: "btn btn-primary" %>
  <% end %>
</div>
