<div>
  <div class="background-image-blurred"></div>
  <div class="container">
    <div class="margin">
      <div class="card-product">
        <div class="rounded">
          <% if @wagon.photo.key %>
            <%= cl_image_tag @wagon.photo.key, crop: :fill %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1599766431396-2405fdfcf5e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"/>
          <% end %>
        </div>
        <div class="card-product-infos">
          <h1>Wagon <%= @wagon.name %></h1>
          <h4>Don't miss out on this great opportunity</h4>
          <p> 🏷 <strong><%=rand(400..2000)%>€ / per trip</strong></p>
          <p> 👥 <%= @wagon.capacity %> </p>
          <div class="card-product-img d-flex">
            <img src="/assets/feature-4.svg" alt="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Free wifi">
            <img src="/assets/feature-card.svg" alt="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Payment in 3 times">
            <img src="/assets/feature-cocktail.svg" alt="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Open Bar">
          </div>
        </div>
      </div>
      <div class="card-product">
        <div class="card-description">
          <h2>The wagon </h2>
          <p>This wagon is unlike any other you have ever seen. Forget about the Orient-Express or the Macchu Pichu train, this is the one you need!! Not only, it will allow you to enjoy your time with friends or family in a splendid and amusing environment but we can ensure you will end-up super drunk by the end. You will have unlimited access to the bar so be ready to party.</p>
        </div>
        <div class="card-product-infos">
          <h2>Information</h2>
          <p><strong>From:</strong> Paris</p>
          <p><strong>To:</strong> Marseille</p>
          <p><strong>Departure:</strong> Gare de Lyon, Samedi 05 Mars, 20h</p>
          <p><strong>Contact :</strong> 01-02-03-04-05</p>
        </div>
      </div>
      <div class="departure-info">
        <h2>Upcoming departures:</h2>
        <div class="card-product">
          <ul class="date-list">
            <% @wagon.dates.each_with_index do |date, index|%>
              <div class="card-booking">
                <div class="card-booking-description">
                  <li><h2> <%= date %> </h2>
                  <p> <%= @wagon.description %> </p>
                </div>
                <%# <%= link_to "BOOK NOW !", "", :class => "btn btn-success btn-sm rounded" %>

                <!-- Button trigger modal -->
                <%= button_tag "BOOK NOW !",  class: "btn btn-success", data: { 'bs-toggle' => "modal", 'bs-target' => "#confirmationModal#{index}" } %>
                <% id = "confirmationModal#{index}" %>
                <div class="modal" id="<%=id%>" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Booking confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Your booking for <%=@wagon.name%> on the <%=date%> from <%@wagon.location %> </p>
                        <p>Do you wish to continue?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <%= link_to wagon_bookings_path(@wagon, params: { booking: {start_date: date, start_location: @wagon.location, wagon_id: @wagon.id} }), method: :post do %>
                          <button type="button" class="btn btn-primary">Save booking</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
